:root {
    --sidebar-bg-color: #fcfaf8;
    --aside-min-width: 300px;
    --project-container-max-width: 800px;
    --add-project-btn-color: #dc4c3e;
    --cancel-dialog-btn-bg-color: #f5f5f5;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    height: 100vh;
    display: grid;
    grid-template: auto 1fr / auto 1fr;
}

header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 4px;
    background-color: var(--sidebar-bg-color);
}

header span {
    font-size: 1.5rem;
}

aside {
    background-color: var(--sidebar-bg-color);
    min-width: var(--aside-min-width);
    padding: 4px 8px;
}

.add-project-btn {
    width: 80%;
    background: transparent;
    border: none;
    border-radius: 8px;
    color: #dc4c3e;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 2px;
    transition: background-color 0.5s ease;
}

.add-project-btn:hover {
    background-color: rgb(235, 232, 232);
}

.add-project-btn .icon {
    display: flex;
    width: 25px;
    fill: var(--add-project-btn-color);
}

main {
    grid-area: 1 / 2 / 3 / 3;
    background-color: #fdfcfc;
}

main h1 {
    max-width: var(--project-container-max-width);
    margin: 5vh auto 0 auto;
    padding: 0 4px;
}

.project-container {
    max-width: var(--project-container-max-width);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    padding: 32px 0;
}

.project-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-section > h2,
ul {
    padding: 0 4px;
}

.project-section h2 {
    font-size: 1.1rem;
}

.todo-item-header {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.todo-item-date {
    font-style: italic;
}

.project-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.project-section ul li {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.project-section ul li::after {
    position: absolute;
    content: "";
    display: block;
    background-color: rgb(200, 200, 200);
    width: 80%;
    height: 1px;
    bottom: 0;
}

.project-section ul li:last-child {
    margin-bottom: 0;
}

.add-task-btn {
    /* height: 25px; */
    max-width: 150px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.add-task-btn svg {
    display: block;
    height: 25px;
    width: 25px;
    fill: var(--add-project-btn-color);
}

.add-task-text {
}

dialog {
    margin: revert;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1);
}

::backdrop {
    opacity: 0.6;
}

#project-dialog {
    height: 150px;
    width: 600px;
    padding: 16px 18px;
    margin-top: 20vh;
}

#project-form, #task-form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#project-form-name {
    width: 100%;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
}

#project-form-name:focus {
    outline: none;
}

.project-dialog-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: auto;
    gap: 8px;
}

.project-dialog-footer button {
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
}

.modal-cancel-btn {
    background-color: var(--cancel-dialog-btn-bg-color);
    transition: filter 0.2s;
}

.modal-cancel-btn:hover {
    filter: brightness(0.95);
}

.modal-submit-btn {
    background-color: var(--add-project-btn-color);
    color: white;
}

#task-dialog {
    height: 200px;
    width: 600px;
}