* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-bg-color: #FEF8F1;
}

body {
    height: 100vh;
    display: grid;
    grid-template: auto 1fr / 250px 1fr;
}

header {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 4px;
}

header span {
    font-size: 1.5rem;
}

aside {
    flex-grow: 0;
    background-color: blue;
    max-width: 250px;
}

main {
    background-color: var(--main-bg-color);
}