:root {
    --sidebar-bg-color: #fcfaf8;
    --aside-min-width: 300px;
    --project-container-max-width: 800px;
    --add-project-btn-color: #DC4C3E;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template: auto 1fr / auto 1fr;
}

header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 4px;
    background-color: var(--sidebar-bg-color);
}

header span {
    font-size: 1.5rem;
}

aside {
    background-color: var(--sidebar-bg-color);
    min-width: var(--aside-min-width);
    padding: 4px 8px;
}

main {
    grid-area: 1 / 2 / 3 / 3;
    background-color: #fdfcfc;
}

.add-project-btn {
    width: 80%;
    background: transparent;
    border: none;
    border-radius: 8px;
    color: #DC4C3E;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 2px;
    transition: background-color 0.5s ease;
}

.add-project-btn:hover {
    background-color: rgb(235, 232, 232);
}

.add-project-btn .icon {
    display: flex;
    width: 25px;
    fill: var(--add-project-btn-color);
}

.project-container {
    max-width: var(--project-container-max-width);
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
    padding: 32px 0;
}

.project-container h1 {
    font-size: 1.8rem;
    margin-bottom: 8px;
}

.project-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-section h2 {
    font-size: 1.1rem;
}

.todo-item-header {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.todo-item-date {
    font-style: italic;
}

.project-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.project-section ul li {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 28px;
}

.project-section ul li::after {
    content: "";
    display: block;
    background-color: rgb(200, 200, 200);
    width: 80%;
    height: 1px;
    position: absolute;
    bottom: 0;
}


.project-section ul li:last-child {
    margin-bottom: 14px;
}