:root {
    --sidebar-bg-color: #FCFAF8;
    --aside-min-width: 300px;
    --project-container-max-width: 800px
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template: auto 1fr / var(--aside-min-width) 1fr;
}

header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 4px;
    background-color: var(--sidebar-bg-color);
}

header span {
    font-size: 1.5rem;
}

aside {
    background-color: var(--sidebar-bg-color);
    min-width: var(--aside-min-width);
}

main {
    grid-area: 1 / 2 / 3 / 3;
    background-color: #fdfcfc;
}

.project-container {
    max-width: var(--project-container-max-width);
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    padding: 32px 0;
}

.project-section {
    padding: 0 12px;
}

.project-section ul {
    list-style: none;   
}
